<h2 mat-dialog-title>
  {{ data?.mode === 'create' ? 'Ajouter une personne' : 'Modifier la personne' }}
</h2>

<form [formGroup]="form" class="p-4">
  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Nom</mat-label>
    <input matInput formControlName="name" />
    @if (formControls['name'].touched && formControls['name'].errors){
    <mat-error>
      {{ formControls['name'].hasError('required') ? 'Le nom est requis' : '' }}
      {{ formControls['name'].hasError('trimMin') ? 'Au moins 3 caractères' : '' }}
      {{ formControls['name'].hasError('notUnique') ? 'Ce nom est déjà utilisé' : '' }}
    </mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" />
    @if (formControls['email'].touched && formControls['email'].errors){
    <mat-error>
      {{ formControls['email'].hasError('required') ? "Le'email est requis" : '' }}
      {{ formControls['email'].hasError('trimMin') ? 'Email invalide' : '' }}
    </mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Téléphone</mat-label>
    <input matInput formControlName="phone" />
  </mat-form-field>

  <div class="flex justify-end mt-4 gap-2">
    <button mat-stroked-button (click)="close()">Annuler</button>
    <button mat-raised-button color="primary" (click)="save()">Sauvegarder</button>
  </div>
</form>
